<div class="row">
	<div class="col-md-9">
		<%= render 'shared/action_panel' %>
		<div class="content-block">
			<h3>Top Tracks</h3>
			<div class="list-group">
				<%= render partial: 'tracks/track_list_with_avatar', locals: {tracks: @top_most_played_tracks} %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<% if signed_in? %>
			<div class="content-block">
				<ul class="list-group" style="color:black">
					<%= link_to favorite_tracks_path(current_user), remote:true do %><li class="list-group-item">Wow Tracks</li><% end %>
					<%= link_to following_path(current_user), remote:true do %><li class="list-group-item">Favorite Users</li><% end %>
				</ul>
			</div>
		<% end %>
		<div class="content-block">
			<h3>Tags</h3>
			<%= render @tags %>
		</div>
	</div>
</div>
