<div class="row">
	<div class="col-md-9">
		<%= render 'shared/action_panel' %>
		<div class="content-block">
			<h3>Top Tracks</h3>
			<div class="list-group">
				<% @top_most_played_tracks.each do |track| %>
					<%= link_to playlist_ranks_path(@playlist, track_id: track.id), method: :post, remote: true, class: "list-group-item" do %>
						<span class="badge" style="background-color:white"><span class="glyphicon glyphicon-plus" style="color:green"></span></span>
						<%= track.user.username + " - " + track.name %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="content-block">
			<ul class="list-group" style="color:black">
				<li class="list-group-item wow-tracks-link">Wow Tracks</li>
				<li class="list-group-item favorite-users-link">Favorite Users</li>
			</ul>
		</div>
		<div class="content-block">
			<h3>Tags</h3>
			<%= render @tags %>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$(document).on('click', '.favorite-users-link', function(){
		$("#action-panel").html("<h2>List of Favorite Users</h2><% if @favorite_users.exists? %><%= render partial: 'users/user_list', locals:{users: @favorite_users}%><% else %><p>You have no favorites!</p><% end %>").slideDown();
	}).on('click', '.wow-tracks-link', function(){
		$("#action-panel").html("<h2>List of Wow Tracks</h2><% if @favorite_tracks.exists? %><%= render partial: 'tracks/track_list', locals:{tracks: @favorite_tracks}%><% else %><p>You have no wowed tracks!</p><% end %>").slideDown();
	});
});
</script>
