<script>
	$(document).ready(function(){
		loadPlayer(<%= track.id %>);
	});
</script>

<div class="media">
	<div class="pull-left" id="player-image">
		<%= render partial: 'player_image', locals: {track:track} %>
	</div>
	<div class="media-body">
		<div id="player-body">
			<%= render partial: 'player_heading', locals: {track:track, position:position} %>
		</div>
		<span id="jquery_jplayer_1" class="jp-jplayer"></span>
		<div class="jp-seek-bar progress" style="margin-bottom:0">
			<div class="jp-play-bar progress-bar"></div>
		</div>
		<div id="player-buttons" style="height:30px;">
			<span id="jp-controls" >
				<button type="button" class="jp-play btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-play"></span></button>
				<button type="button" class="jp-pause btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-pause"></span></button>
				<button type="button" class="jp-next btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-step-forward"></span></button>
			</span>
		</div>
	</div>
	<div style="margin:0;" class="pull-right" id="player-custom-controls">
		<%= render partial: 'player_custom_controls', locals: {track:track} %>
	</div>
</div>
<div id="tags" style="margin-bottom:5px;">
	<%= render partial: 'player_tags', locals: {track: track} %>
</div>
