<h6 id="player-heading" class="media-heading" data-track_url="<%=track.url%>" data-track_id="<%=track.id%>" data-position="<%=position%>"><strong><span id="player-trackname"><%= track.name %></span><br/></strong><span id="player-username"><%= link_to track.user.username, track.user, remote: true, class: "remote-link" %></span></h6>
