<li class="list-group-item" id="track-listing-<%=track.id%>">
	<div class="media">
		<div class="pull-left media-object">
			<% if track.user.avatar.exists? %>
				<%= image_tag track.user.avatar.url(:thumb) %>
			<% end %>
		</div>
		<div class="song-player media-body">
			<h2 class="media-heading" id= "heading_<%=track.id.to_s%>" ><%= link_to track.name, playlist_ranks_path(@playlist, track_id:track.id), method: "post", remote: true %> <%= render partial: 'shared/favorite_form', locals: {track:track} if signed_in? %></h2><span id="thanks_<%=track.id.to_s%>"></span>
			<span id="player-tags">
				<%= render partial: 'tags/show_tags', locals: {track: track, vote:true} %>
			</span>
		</div>
	</div>
	<div style="height:10px; color: #777777">
		<small><%= pluralize(track.plays.by_users.sum(:count) || 0, 'play') %>. <%= pluralize(track.favoriteds.count, 'wow')%>.</small>
		<% if track.user == current_user %>
			<%= link_to track, method: :delete, data: {confirm: "Are you sure?" }, class: "pull-right", remote: true do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
			<%= link_to edit_track_path(track), class: "pull-right", remote: true, style: "margin-right:20px;" do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
		<% end %>
	</div>
</li>
