<% noDisplay = true %>
<% if @type == "all" %>
	$("#action-panel").html("<h3>Results for '<%= j @query %>'</h3>");
	<% if @tag_results.exists? %>		
		$("#action-panel").append("<h4>Tags</h4><%= j render @tag_results %>").slideDown('slow');
		<% noDisplay = false %>
	<% end %>
	<% if @track_results.exists? %>
		$("#action-panel").append("<h4>Tracks</h4><%= j render partial:'tracks/track_list', locals: {tracks: @track_results} %>").slideDown('slow');
		<% noDisplay = false %>
	<% end %>
	<% if @user_results.exists? %>
		$("#action-panel").append("<h4>Users</h4><%= j render partial: 'users/user_list', locals: {users: @user_results} %>").slideDown('slow');
		<% noDisplay = false %>
	<% end %>
	<% if noDisplay %>
		$("#action-panel").append("<h4>There are no results to display.").slideDown('slow');
	<% end %>
<% elsif @type == "tag" %>
	$("#action-panel").html("<h3>Tracks related to '<%= j @query %>'</h3><%= j render partial: 'tracks/track_list', locals: {tracks:@tag_track_results} %>").slideDown('slow');
<% end %>
