<%- if controller_name != 'sessions' %>
  <%= button_to "Sign in", new_session_path(resource_name), method: :get, class: "btn btn-primary" %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<h3>Interested in being one of the first to test drive DogeRadio? E-mail <%=mail_to "beta-test@dogeradio.com"%> to get early access and complementary dogecoin!</h3>
 <div style="text-align:center;"><%= button_to "Sign up", new_registration_path(resource_name), method: :get, class: "btn btn-info btn-lg" %></div><% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= button_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), method: :get, class: "btn btn-info" %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= button_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), method: :get, class: "btn btn-info" %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), method: :get, class: "btn btn-link" %>
  <% end -%>
<% end -%>
