<h3>Local<small style="float: right;"><%= @location.city %>, <%=@location.state %></small></h3>
<%= render partial: 'shared/enter_location' %>
<% if @location && users.exists? %>
	<% if events %>
		<h4>Events</h4>
		<%= render events %>
	<% end %>
	<% if users %>
		<h4>Users</h4>
		<%= render partial: 'users/user_list', locals: {users: users } %>
	<% end %>
<% end %>