<div class="col-md-12">
	<%= render 'shared/action_panel' %>
	<div class="content-block">
		<h2 style="display:inline-block"><%= @user.username %></h2>
		<% if @user.website %>
			<h5><%=link_to @user.website, @user.website %></h5>
		<% end %>
		<%= render partial: 'shared/follow_form', locals: {user: @user} if signed_in? %>
		<div class="media">
			<div class="pull-left">
				<% if @user.avatar.exists? %>
					<%= image_tag @user.avatar.url(:square), class: "media-object" %>
				<% end %>
				<% if @user.soundcloud_access_token %><%= image_tag 'soundcloud-small.png', style: "position:absolute; top:240px; left:40px;" %><% end %>
			</div>
			<div class="media-body"><p>
				<%= html_escape(@user.bio).gsub(/\n/, '<br />').html_safe %></p>
			</div>
		</div>
		<ul style="padding-left:0">
			<%= render @tracks %>
		</ul>
	</div>
</div>
