<h2><%= @user.username %></h2>
<%= render partial: 'shared/follow_form', locals: {user: @user} if signed_in? %>
<div class="media">
	<% if @user.avatar.exists? %>
		<%= image_tag @user.avatar.url(:square), class: "pull-left media-object" %><br/>
	<% end %>
	<p class="media-body"><%= @user.bio %></p>
</div>
<% @musics.each do |music| %>
	<li class="list-group-item">
		<div class="media">
			<div class="pull-left media-object">
				<% if @user.avatar.exists? %>
					<%= image_tag @user.avatar.url(:thumb) %>
				<% end %>
			</div>
			<div class="song-player media-body">
				<h2 class="media-heading" id= "heading_<%=music.id.to_s%>" ><%= music.name %> <%= render partial: 'shared/favorite_form', locals: {music:music} if signed_in? %></h2><span id="thanks_<%=music.id.to_s%>"></span>
				<% if @user != current_user %><%= link_to user_pay_path(@user, music_id: music.id), method: :post, remote: true, class: "pull-right" do %><%= image_tag 'dogecoin-icon.png' %><% end %><% end %>
			</div>
		</div>
		<div style="height:30px;">
			<% if @user == current_user %><%= link_to music, method: :delete, data: {confirm: "Are you sure?" }, class: "pull-right" do %><span class="glyphicon glyphicon-trash"></span><% end %><% end %>
		</div>
		<div>
			<%= render partial: "tags/form", locals: {music: music} %>
			<span class="tags">
				<% music.tags.each do |tag| %>
					<button type="button" class="btn btn-default"><%= tag.category%>: <%=tag.description%></button>
				<% end %>
			</span>
		</div>
	</li>
<% end %>
