<button type="button" data-category="<%= tag.category %>" data-description="<%= tag.description %>" class="tag-<%=tag.id%> remote-link btn tag btn-xs tag-<%= tag.category %>"><%= tag.description %></button>
