<%= render 'shared/action_panel' %>
<div class="content-block">
	<h3>Doge Transactions</h3>
	<h4>Current Balance: <span class="balance"><%= @balance %></span></h4>
	<div class='payout'>
		<%= form_tag payout_path, method: :post, class: "form-inline", remote: true do %>
			<div class="form-group">
				<%= number_field_tag :amount, 0, class: "form-control" %>
				<%= submit_tag "Cash out", id: "payout_link", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
	<table class="table">
		<tr>
			<th>Category</th>
			<th>Amount</th>
		</tr>
		<tr>
			<td>Account Deposits</td>
			<td><%=@deposits_sum%></td>
		</tr>
		<tr>
			<td>Tips Received</td>
			<td><%=@tips_received_sum%></td>
		</tr>
		<tr>
			<td>Tips Given</td>
			<td>-<%=@tips_given_sum%></td>
		</tr>
		<tr>
			<td>Payouts</td>
			<td>-<%=@payout_sum%></td>
		</tr>
	</table>
</div>
