<li class="list-group-item ui-state-default music_<%=music.id%>" id="playlist_<%=playlist_counter%>" data-music_id="music_<%=music.id%>" data-playlist_number="<%=playlist_counter%>">
	<div class="clickable" style="display:inline-block; width: 95%;"><%= music.name %></div>
	<div class="delete-div" style="display:inline-block; position: absolute; right:10px;top:30%;"><%= link_to playlist_ranks_path(playlist_id:@playlist.id, music_id:music.id, position: playlist_counter), method: "delete", remote: true, class: "delete-link", style: "color:red;" do %><span class="glyphicon glyphicon-remove"></span><% end %></div>
</li>

<script>
	$('#playlist_<%= playlist_counter %>').children('.clickable').click(function(){
		updatePlayer(<%=music.id%>);
		$('html, body').animate({
			scrollTop: $("#player").offset().top
		}, 2000);
	});
</script>
