<script>
	$(document).ready(function(){
		loadPlayer(<%= track.id %>);			
	});
</script>
<div class="media">
	<div class="pull-left">
		<% if track.user.avatar.exists? %>
			<%= image_tag track.user.avatar.url(:thumb), id: "player-image", class: "media-object" %>
		<% end %>
		<span id="thanks" style="position:relative; margin-bottom:0; margin-top:-50px;"></span>
	</div>
	<div class="media-body">
		<h6 id="player-heading" class="media-heading" data-music_url="<%=track.upload.url%>" data-music_id="<%=track.id%>" data-position="<%=position%>"><strong><%= track.name %><br/></strong><%= link_to track.user.username, track.user, remote: true, class: "remote-link" %></h6>
		<span id="jquery_jplayer_1" class="jp-jplayer"></span>
		<div class="jp-seek-bar progress" style="margin-bottom:0">
			<div class="jp-play-bar progress-bar"></div>
		</div>
		<div id="player-buttons" style="height:30px;">
			<span id="jp-controls" >
				<button type="button" class="jp-play btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-play"></span></button>
				<button type="button" class="jp-pause btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-pause"></span></button>
				<button type="button" class="jp-next btn btn-link btn-lg" style="padding:0"><span class="glyphicon glyphicon-step-forward"></span></button>
			</span>
		</div>
	</div>
	<div style="margin:0;" class="pull-right">
		<%= render partial: 'shared/favorite_form', locals: {music:track} if signed_in? %>	
		<% if track.user.id != current_user.id %><%= link_to user_pay_path(track.user, music_id: track.id), method: :post, remote: true do %><%= image_tag 'dogecoin-icon.png', alt: 'Tip', style:"height:23px;" %><% end %><% end %>
	</div>
</div>
<div id="tags" style="margin-bottom:5px;">
	<span id="player-tags" class="btn-group">
		<%= render partial: 'tags/show_tags', locals: {track: track} %>
	</span>
</div>
