<div class="container">
	<div class="col-md-12">
		<div style="margin-bottom:8px;"> 
		<h1 style="display:inline;">Music</h1>
		<%= link_to new_music_path, class: "pull-right" do %>
			<span class="glyphicon glyphicon-plus"></span> Add Music
		<% end %>
		</div>
		<ul class="list-group">
			<% player_count = 1 %>
			<% @musics.each do |music| %>
				<% if player_count < @musics.count %>
					<% next_player = player_count + 1 %>
				<% else %>
					<% next_player = 1 %>
				<% end %>
				<script type="text/javascript">
					$(document).ready(function(){
						$('#jquery_jplayer_<%=player_count%>').jPlayer({
							supplied: "mp3",
							swfPath: "http://www.jplayer.org/latest/js/Jplayer.swf",
							keyEnabled: true,
							play: function(){
								$(this).jPlayer("pauseOthers");
							},
							keyEnabled: true,
							cssSelectorAncestor: "#jp_container_<%=player_count%>",
							ready: function () {
								$(this).jPlayer("setMedia", {mp3: "<%= music.upload.url %>"} );
							},
							repeat: function(event){
								if(event.jPlayer.options.loop) {
									$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
									$(this).bind($.jPlayer.event.ended + ".jPlayer.jPlayerRepeat", function() {
										$(this).jPlayer("play");
									});
								} else {
									$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
									$(this).bind($.jPlayer.event.ended + ".jPLayer.jPlayerNext", function(){
										$("#jquery_jplayer_<%=next_player%>").jPlayer("play",0);
									});
								}
							}
						});
					});
				</script>		
				<li class="list-group-item">
					<div class="media">
						<div class="pull-left media-object">
							<% if music.user.avatar.exists? %>
								<%= image_tag music.user.avatar.url(:thumb) %>
							<% end %>
						</div>
						<div class="song-player media-body">
							<h2 class="media-heading" id= "heading_<%=music.id.to_s%>" ><%= music.name %></h2>
							<% if music.user.id != current_user.id %><%= link_to user_pay_path(music.user, music_id: music.id), method: :post, remote: true, class: "pull-right" do %><%= image_tag 'dogecoin-icon.png' %><% end %><% end %>
<span id="jquery_jplayer_<%=player_count%>" class="jp-jplayer"></span>
							<div id="jp_container_<%=player_count%>" class="jp-audio">
								<div class="jp-gui jp-interface">
									<span class="jp-controls">
										<button type="button" class="jp-play btn btn-link btn-lg"><span class="glyphicon glyphicon-play"></span></button>
										<button type="button" class="jp-pause btn btn-link btn-lg"><span class="glyphicon glyphicon-pause"></span></button>
									</span>
									<div class="jp-seek-bar progress" style="width:100%;">
										<div class="jp-play-bar progress-bar" style="width:0%;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="height:30px;">
						<h3 style="margin:0;" class="pull-left"><%= music.user.username %></h3>
						<% if music.user.id == current_user.id %><%= link_to music, method: :delete, data: {confirm: "Are you sure?" }, class: "pull-right" do %><span class="glyphicon glyphicon-trash"></span><% end %><% end %>
					</div>
					<div>
						<%= render partial: "tags/form", locals: {music: music} %>
						<span class="tags">
							<% music.tags.each do |tag| %>
								<button type="button" class="btn btn-default"><%= tag.category%>: <%=tag.description%></button>
							<% end %>
						</span>
					</div>
				</li>
				<% player_count += 1 %>
			<% end %>
		</ul>
	</div>
</div>
