<div class="container">
	<div class="col-md-12">
		<span><h1 style="display:inline-block;">Music</h1> 
		<%= link_to new_music_path, class: "pull-right" do %>
			<span class="glyphicon glyphicon-plus"></span> Add Music
		<% end %>
		</span>
		<ul>
			<% player_count = 1 %>
			<% @musics.each do |music| %>
				<script type="text/javascript">
					$(document).ready(function(){
						$('#jquery_jplayer_<%=player_count%>').jPlayer({
							supplied: "mp3",
							play: function(){
								$(this).jPlayer("pauseOthers");
							},
							smoothPlayBar: true,
							keyEnabled: true,
							cssSelectorAncestor: "#jp_container_<%=player_count%>",
							ready: function () {
								$(this).jPlayer("setMedia", {mp3: "<%= music.direct_upload_url %>"} );
							}
						});
					});
				</script>		
				<li>
					<%= music.user.username %><br />
					<%= music.upload_file_name %>
					<span id="jquery_jplayer_<%=player_count%>" class="jp-jplayer"></span>
					(<span id="jp_container_<%=player_count%>" class="jp-audio">
						<a href="#" class="jp-play">Play</a>
						<a href="#" class="jp-pause">Pause</a>
					</span>)
					<% if music.user.id == current_user.id %>(<%= link_to music, method: :delete, data: {confirm: "Are you sure?" } do %><span class="glyphicon glyphicon-trash"></span><% end %>)<% end %>
					<div>
						<%= render partial: "tags/form", locals: {music: music} %>
						<span class="tags">
							<% music.tags.each do |tag| %>
								<button type="button" class="btn btn-default"><%= tag.category%>: <%=tag.description%></button>
							<% end %>
						</span>
					</div>
				</li>
				<% player_count += 1 %>
			<% end %>
		</ul>
	</div>
</div>
