<script type="text/javascript">
	var go = false;

	function loadPlayer(music_id){
		$('#jquery_jplayer_1').jPlayer({
			preload: "none",
			supplied: "mp3",
			swfPath: "http://www.jplayer.org/latest/js/Jplayer.swf",
			keyEnabled: true,
			play: function(){
				$(this).jPlayer("pauseOthers");
			},
			keyEnabled: true,
			cssSelectorAncestor: "",
			cssSelector: {
				play:".jp-play",
				pause:".jp-pause",
				seekBar:".jp-seek-bar",
				playBar:".jp-play-bar"
			},
			ready: function () {
				music_url=$("#player-heading").data("music_url");
				$(this).jPlayer("setMedia", {mp3: music_url} );
				if (go) $(this).jPlayer("play"); 
				go = false;
			},
			repeat: function(event){
				setNextSong(music_id);
			}
		});
	}	

	function setNextSong(music_id){
		player = $("#jquery_jplayer_1");
		if(player.data("jPlayer").options.loop){
			$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
			$(this).bind($.jPlayer.event.ended + ".jPlayer.jPlayerRepeat", function(){
				$(this).jPlayer("play");
			});
		} else {
			$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
			$(this).bind($.jPlayer.event.ended + ".jPlayer.jPlayerNext", function(){
				playlist_id = $("#music_"+music_id).data("playlist_number")+1;
				updatePlayer($(".playlist_"+playlist_id).data("music_id"));
			});
		}
	}

	function updatePlayer(music_id){
		$.ajax({
			type:"POST",
			url: "musics/"+music_id+"/update_player/",
			success: function() {
				go = true;
				loadPlayer(music_id);
			}
		});
	}

	$(document).ready(function(){
		loadPlayer(<%= @track.id if @track %>);			

		$('.sortable').sortable({
			dropOnEmpty: false,
			cursor: 'crosshair',
			items: 'li',
			helper: 'clone',
			opacity: 1,
			scroll: true,
			revert: true,
			update: function(event, ui){
				var playlist_id = $(this).data('playlist_id');
				var music_id = $('#player-heading').data('music_id');
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'post',
					url: '/playlists/'+playlist_id+'/sort',
					dataType: 'script',
					complete: function(request){
						$('.sortable').effect('highlight');
						setNextSong(music_id);	
					}
				});
			}
		});

		$('.clickable').click(function(){
			music_id = $(this).parent().data("music_id");
			updatePlayer(music_id);
		});
	});
</script>		
<div class="row row-offcanvas row-offcanvas-left">
	<%= link_to new_music_path, class: "pull-right" do %>
		<span class="glyphicon glyphicon-plus"></span> Add Music
	<% end %>
	<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
		<div id="player" style="height:120px;">
			<%= render partial: "player", locals: {track:@track} if @track %>
		</div>
		<ul class="list-group sortable" data-playlist_id="<%=@playlist.id %>">
			<% playlist_counter = 1 %>
			<% @playlist.musics.each do |music| %>
				<li class="list-group-item playlist_<%=playlist_counter%> ui-state-default" id="music_<%=music.id%>" data-music_id="<%=music.id%>" data-playlist_number="<%=playlist_counter%>">
					<div class="clickable" style="display:inline-block"><%= music.name %></div>
					<div class="delete-div" style="display:inline-block; position: absolute; right:10px;top:30%;"><%= link_to playlist_ranks_path(playlist_id:@playlist.id, music_id:music.id, position: playlist_counter), method: "delete", remote: true, class: "delete-link", style: "color:red;" do %><span class="glyphicon glyphicon-remove"></span><% end %></div>
				</li>
				<% playlist_counter += 1 %>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-8">
		<p>Welcome! Welcome!</p>
	</div>
</div>
