<script type="text/javascript">
	function loadPlayer(){
		$('#jquery_jplayer_1').jPlayer({
			preload: "none",
			supplied: "mp3",
			swfPath: "http://www.jplayer.org/latest/js/Jplayer.swf",
			keyEnabled: true,
			play: function(){
				$(this).jPlayer("pauseOthers");
			},
			keyEnabled: true,
			cssSelectorAncestor: "",
			cssSelector: {
				play:".jp-play",
				pause:".jp-pause",
				seekBar:".jp-seek-bar",
				playBar:".jp-play-bar"
			},
			ready: function () {
				$(this).jPlayer("setMedia", {mp3: "<%= @track.upload.url %>"} );
			},
		});
	}	
	
	$(document).ready(function(){
		loadPlayer();			

		$('.list-group-item').click(function(){
			music_id = $(this).data("music_id");
			music_url = $(this).data("music_url");
			player = $("#jquery_jplayer_1");
			$.ajax({
				type:"POST",
				url: "musics/"+music_id+"/update_player/",
				success: function() {
					loadPlayer();
					$("#jquery_jplayer_1").jPlayer("play");
				}
			});
		});
	});
</script>		
<div class="row row-offcanvas row-offcanvas-left">
	<%= link_to new_music_path, class: "pull-right" do %>
		<span class="glyphicon glyphicon-plus"></span> Add Music
	<% end %>
	<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
		<div id="player">
			<%= render partial: "player", locals: {track:@track}%>
		</div>
		<ul class="list-group">
			<% player_count = 1 %>
			<% @musics[1..-1].each do |music| %>
				<% if player_count < @musics.count %>
					<% next_player = player_count + 1 %>
				<% else %>
					<% next_player = 1 %>
				<% end %>
				<li class="list-group-item" data-music_id="<%=music.id%>" data-music_url="<%=music.upload.url %>" data-music_name="<%=music.name%>" data-artist_name="<%=music.user.username%>" data-image_url="<%=music.user.avatar.url(:thumb)%>">
					<%= music.name %>	
				</li>
				<% player_count += 1 %>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-8">
		<p>Welcome! Welcome!</p>
	</div>
</div>
