<script type="text/javascript">
function setNextSong(music_id){
	player = $("#jquery_jplayer_1");
	if(player.data("jPlayer").options.loop){
		$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
		$(this).bind($.jPlayer.event.ended + ".jPlayer.jPlayerRepeat", function(){
			$(this).jPlayer("play");
		});
	} else {
		$(this).unbind(".jPlayerRepeat").unbind(".jPlayerNext");
		$(this).bind($.jPlayer.event.ended + ".jPlayer.jPlayerNext", function(){
			$.ajax({
				type: "post",
				url: "musics/"+music_id+"/plays/",
				data: {user_id: <%= current_user.id %> },
			});
			playlist_id = $(".music_"+music_id).data("playlist_number")+1;
			updatePlayer($("#playlist_"+playlist_id).data("music_id").split("_")[1]);
		});
	}
}
</script>
<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
		<div class="content-block">
			<div id="player" style="height:120px;">
				<% if @track %>
					<%= render partial: "player", locals: {track:@track} %>
				<% else %>
					<%= render partial: "empty_player" %>
				<% end %>
			</div>
			<ul id="playlist" class="list-group sortable" data-playlist_id="<%=@playlist.id %>">
				<% playlist_counter = 1 %>
				<% @playlist.musics.each do |music| %>
					<%= render partial: 'playlist_item', locals: {music: music, playlist_counter: playlist_counter} %>
					<% playlist_counter += 1 %>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="main" class="col-xs-12 col-sm-8">
		<%= render partial: "main" %>
	</div>
</div>
