<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
		<div class="content-block">
			<div id="player">
				<% if @track %>
					<%= render partial: "player", locals: {track:@track, position:@player_position} %>
				<% else %>
					<%= render partial: "empty_player" %>
				<% end %>
			</div>
			<ul id="playlist" class="list-group sortable" data-playlist_id="<%=@playlist.id %>">
				<% playlist_counter = 1 %>
				<% @playlist.musics.each do |music| %>
					<%= render partial: 'playlist_item', locals: {music: music, playlist_counter: playlist_counter} %>
					<% playlist_counter += 1 %>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="main" class="col-xs-12 col-sm-8">
		<%= render partial: "main" %>
	</div>
</div>
