<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The only music platform built from the ground up to support tipping artists through cryptocurrency.">
	<meta name="author" content="Vacant Frequency, LLC">
	<%= favicon_link_tag 'favicon.ico' %>
  <title>DogeRadio!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="zoom: 1;">
	<div id="wrap">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<% if user_signed_in? %><span class="icon-bar"></span><% end %>
					</button>
					<% if user_signed_in? %><%= link_to "DogeRadio", root_url, remote: true, class: "remote-link navbar-brand" %><% else %><%= link_to "DogeRadio", root_url, class: "navbar-brand" %><% end %>
				</div>
				<div class="navbar-collapse collapse" style="height:auto;">
					<ul class="nav navbar-nav navbar-left">
						<li><%= link_to explore_path, remote: true, class: "remote-link" do %>Tracks<% end %></li>
						<% if user_signed_in? %><li><%= link_to new_music_path, remote: true, style:"padding-top:5px;", class: "remote-link" do %>Upload <span class="glyphicon glyphicon-music" style="position:relative; top:3px;"></span><% end %></li><% end %>
					</ul>
					<ul class="nav navbar-nav navbar-right logged-text" style="margin-top:13px; margin-left:3px;">
						<% if user_signed_in? %>
							<span id="balance"><%= current_user.balance.to_i %></span> <%=link_to transactions_path, remote: true, class: "remote-link" do %><%= image_tag 'dogecoin-icon.png', style: "height: 20px;" %><% end %> <%= link_to 'Edit profile', edit_user_registration_path, remote: true, class: "remote-link" %> |	<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
						<% else %>
							<%= link_to "Sign up", new_user_registration_path %> |	<%= link_to "Login", new_user_session_path %>
						<% end %>
					</ul>
					<% if user_signed_in? %><%= render 'shared/search' %><% end %>
				</div>
			</div>
		</div>
		<div class="container">
			<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
			<% end %>
			<div id="modalHolder"></div>
			<div class="row row-offcanvas row-offcanvas-left">
				<%= render partial: "shared/sidebar" %>
				<div id="main" class="col-xs-12 col-sm-8">
					<%= yield %>
				</div>
			</div>
			</div>
		<div id="push"></div>
	</div>
	<div id="footer" style="background-color:#005d74;">
		<div class="container">
			<p class="muted credit">2014 &copy; DogeRadio <%=mail_to "tristan@dogeradio.com", "Contact"%> <span class="pull-right">Donations: DRj3vRoA6atJrVsWqMBB3gznZ8HVu7LX4c</span></p>
		</div>
	</div>
</body>
</html>

<% if alert or notice %> 
<script>
	$(document).ready(function(){
		$(".alert").delay(3000).slideUp();
	});
</script>
<% end %>
